<p>
  <strong>Manufacturer: </strong>
  <%= @press.manufacturer %>
</p>

<p>
  <strong>Model: </strong>
  <%= @press.model %>
</p>

<p>
  <strong>Round Count: </strong>
  <%= @press.round_count %>
</p>

<%= link_to 'Back', presses_path %>