<p>
  <strong>Manufacturer:</strong>
  <%= @brass.manufacturer %>
</p>

<p>
  <strong>Caliber:</strong>
  <%= @brass.caliber %>
</p>

<p>
  <strong>Used in these batches:</strong>
  TO BE ADDED
</p>

<%= link_to 'Back', brasses_path %>