<h1>CC Load Tracker</h1>
<p>
  Batches
</p>
<p>
  Loads
</p>
<p>
  <%= link_to 'Bullets', controller: 'bullets' %>
</p>
<p>
  Primers
</p>  
<p>
  Powders
</p>
<p>
  <%= link_to 'Brass', controller: 'brasses' %>
</p>
<p>
  Presses
</p>