<p>
  <strong>Manufacturer: </strong>
  <%= @primer.manufacturer %>
</p>

<p>
  <strong>Size: </strong>
  <%= @primer.size %>
</p>

<p>
  <strong>Type: </strong>
  <%= @primer.style %>
</p>

<%= link_to 'Back', primers_path %>